*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: Poppins, sans-serif;
}

/* WWWWWWWWWWWWWWWWWWWW NAV WWWWWWWWWWWWWWWWWWWW*/

.nav-bar{
  height: 70px;
  width: 100%;
  display: flex;
  align-items:center;
  box-shadow: 1px 5px 10px rgb(0, 0, 0, 0.1);
}

.logo{
  width: 100px;
  height: 30px;
  margin: 20px;
}

/* WWWWWWWWWWWWWWWWWWWW MAIN WWWWWWWWWWWWWWWWWWWW*/

.main-content{
  display: flex;
  flex-direction: column;
}

.grid{
  margin: 50px;
}

.main-title{
  font-size: 55px;
  margin-left: 40px;
}

.description{
  margin: 40px;
  font-size: 20px;
  width: 400px;
}

/* WWWWWWWWWWWWWWWWWWWW CARD WWWWWWWWWWWWWWWWWWWW*/

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
  margin: 0px 20px;
  border-radius: 20px;
}

.photo-status{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.status{
  position:relative;
  top: 50px;
  left: 10px;
  background-color: white;
  padding: 5px;
  margin: 0;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 15px;
}

.description-card{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 5px;
}

.rate-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.star{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.rate, .motto, .price{
  margin: 2px;
}

.span-rate{
  color: #918E9B;
}

.span-price{
  font-weight: bold;
}